{% extends "base.html" %}
{% block content %}

    <!-- Intro Text -->
    <div class="container-intro">
        <div class="row">
            <div class="intro-text white-text col s6 offset-s4">
                <h2>Welcome home</h2>
                <p>
                    Whether you like your books physical or digital keep track in your All booked account.
                    Store and review your favorite books but don't forget to share your great taste in literature with other All bookers (Ab's) in The Book Shelf.
                </p>
                <br>
                <p>
                    Find your next book or help someone else find theirs. Login or register now to get All booked.
                </p>
                {% if not user %}
                    <a class="sign-up light-blue-text text-darken-2" href="{{ url_for('sign_up') }}">Sign Up</a>
                {% endif %}
            </div>
      </div>
    </div>
     
{% endblock %}