{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Log In</h3>

<form method="POST" action="{{ url_for('login') }}">
    <!-- username -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="username" name="username" class="form-control" id="username" minlength="5"
            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Enter Username" class="validate" required>
            <small id="usernameHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
        </div>
    <!-- password -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" minlength="5"
            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Password" class="validate">
        </div>
    <!-- register -->
        <button type="submit" class="btn btn-primary">Log In</button>
  </form>

  <div class="row">
    <div class="col s12">
        <p class="center-align">
            New Here?
            <a href="{{ url_for('register') }}">Register Account</a>
        </p>
    </div>
</div>

  {% endblock %}