{% extends "base.html" %}
{% block content %}
    <h1>My Profile</h1>
    
    <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 .ml-auto">.col-md-3 .ml-auto</div>
            <div class="col-md-3 .ml-auto ml-auto">.col-md-3 .ml-auto .ml-auto</div>
          </div>
          <div class="row">
            <div class="col-md-3 ml-auto">.col-md-3 .ml-auto</div>
            <div class="col-md-2 ml-auto">.col-md-2 .ml-auto</div>
          </div>
          <div class="row">
            <div class="col-md-6 ml-auto">.col-md-6 .ml-auto</div>
          </div>
          <div class="row">
            <div class="col-sm-9">
              Level 1: .col-sm-9
              <div class="row">
                <div class="col-8 col-sm-6">
                  Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-4 col-sm-6">
                  Level 2: .col-4 .col-sm-6
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Modal - Add Book -->
    <div class="modal-body">
        <div class="container-fluid">
            <form class="row" method="POST" action="{{ url_for('add_book') }}">
    
                <!-- Book Title-->
                <div class="row input-field col-md-4 ml-auto">
                    <label for="book_title">Book:</label>
                    <input id="book_title" name="book_title" type="text" class="validate" minlength="3" maxlength="50" required>
                </div>
    
                <!-- Author -->
                <div class="row input-field col-md-4 ml-auto">
                    <label for="author">Author:</label>
                    <input id="author" name="author" type="text" class="validate" minlength="3" maxlength="50"  required>
                </div>

                    <!-- Image URL -->
                <div class="row input-field col-md-6 ml-auto">
                    <label for="img_url">Insert image URL</label>
                    <input id="img_url" name="img_url" type="text" class="validate" minlength="5" maxlength="100"  required>
                </div>

                <!-- Review -->
                <div class="row col-md-3 ml-auto">
                    <label for="review">Your Review</label>
                    <textarea id="review" name="review" type="text" class="materialize-textarea" minlength="5" maxlength="5000" rows="5" required></textarea>
                </div>

                <!-- Submit button -->
                <div class="row col-md-12 ">
                    <button type="submit" class="btn-sign-up white-text deep-purple">Save  <i class="fas fa-save white-text"></i></button>
                </div>
            </form>
            <!-- Close Modal -->
            <button class="close-modal">x</button>
        </div>
    </div>
        <!-- Books -->
        <div class="books row">
            <button id="add-book"><i class="fas fa-plus-circle"></i></button>
            {% for book in books %}
                {% if session.user|lower == book.created_by|lower %}
                    <div class="book col s6 m4 l3 xl2">
                        <a href="{{ url_for('view_book', book_title=book._id) }}"><img src="{{ book.img_url }}" alt="{{ book.book_title }}'s cover"></a>
                        <div class="title">
                            <p>{{ book.book_title }}</p> 
                            <p>{{ book.author }}</p>
                        </div>
                    </div>
                {% endif%}
            {% endfor %}
        </div>
	</div>
{% endblock %}